p{
    color:rgb(76, 0, 255);

}
h1{
    background-color: yellow;
}
h2{
    color:rgb(0, 128, 38);
}
h3{
    color:orange;
    background-color: springgreen;
}
div p{
    color: salmon;
}
div{
    background-color: blue;
}